@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

.nav-bar {
  height: get-size(20);
  position: absolute;
  top: 0;
  z-index: 30;
  width: 100%;
  margin: 0 auto;
  position: sticky;
}

.nav-content-container {
  // max-width: 80rem;
  width: 100%;
  padding: 3rem 10rem;
  height: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;

  @include md-screen {
    padding: 0 7rem;
  }
}

.search-bar {
  justify-self: center;
}

.user-options {
  width: 15%;
  justify-content: space-between;
  align-items: center;

  @include md-screen {
    width: 28%;
  }

  @include sm-screen {
    width: 45%;
  }
}

.divider-line {
  font-size: get-font-size(8);
}

.nav-link {
  text-decoration: none;
  font-size: get-font-size(6);
}
