@use '../abstracts/functions' as *;

.nav-bar {
  height: get-size(20);
  position: absolute;
  top: 0;
  z-index: 30;
  width: 100%;
  margin: 0 auto;
  position: sticky;
  // box-shadow: 0 4px 1px -2px #0c7070;
  // background-color: $prime-color;
  // border-bottom-left-radius: get-size(3);
  // border-bottom-right-radius: get-size(3);
}

.nav-content-container {
  max-width: 80rem;
  height: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.user-options {
  width: 15%;
  justify-content: space-between;
  align-items: center;
}

.divider-line {
  font-size: get-font-size(8);
}

.nav-link {
  text-decoration: none;
  font-size: get-font-size(6);
}
