.quarter-width {
  width: 25%;
  margin: 1rem;
}

.half-width {
  width: 45%;
  margin: 1rem;
}

.three-quarter-width {
  width: 70%;
  margin: 1rem;
}

.quarter-height {
  height: 22.5%;
  margin: 1rem;
}

.half-height {
  height: 45%;
  margin: 1rem;
}

.three-quarter-height {
  height: 70%;
  margin: 1rem;
}
