//
$bg-color: #0c1b33;

$prime-color: #7ba47f;

$accent-color: #fcd19a;

$dark-bg: #232528;

$accent-gradient: linear-gradient(to right bottom, #fba31e, #ff9b3a, #ff954f, #ff9162, #ff8e72);

$light-bg: #e9f1f7;
