* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ecebf3;
}

body {
  background-color: $bg-color;
  height: 90vh;
}

.main-content {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 76rem; // 1216px
  margin: 0 auto;
  margin-top: 2.5rem;
  padding-bottom: 3rem;
}

.hidden {
  display: none;
}
