* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
}

main {
  max-width: 76rem; // 1216px
  margin: 0 auto;
  margin-top: 2.5rem;
  padding-bottom: 3rem;
}

.hidden {
  display: none;
}
