@use '../abstracts/mixins' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ecebf3;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: $bg-color;
  height: 90vh;
  width: 100%;
}

.main-content {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.content-container {
  padding: 0 20rem;
  padding-bottom: 3rem;
  margin: 0 auto;
  margin-top: 2.5rem;

  @include md-screen {
    padding: 0 10rem;
  }

  @include xs-screen {
    padding: 0 1rem;
  }
}

.hidden {
  display: none;
}

.no-dec {
  text-decoration: none;
}

.thin-content {
  width: 80%;
}
