<nav class="nav-bar">
  <div class="nav-content-container flex">
    <section class="nav-logo">
      <h2 class="logo header-font">
        {% if user.is_authenticated %}
        <a class="no-dec" href="/city">lookC</a>
        {%else%}
        <a class="no-dec" href="/">lookC</a>
        {% endif %}
      </h2>
    </section>
    {% if user.is_authenticated %}
    <div class="search-content">
      <section class="search-bar flex">
        <input
          class="search-bar-input content-font text-bold"
          type="text"
          placeholder="Search for City"
          aria-label="search"
        />
        <!-- <a href=""><i class="fas fa-search"></i></a> -->
        <button class="search-btn search-bar-submit" aria-label="submit search">
          <i class="fas fa-search" style="color: black"></i>
        </button>
      </section>
    </div>
    <section class="user-options flex">
      <h3 class="logged-in-name sub-head-font">{{user.username}}</h3>
      <a class="nav-link under-link sub-head-font" href="{% url 'logout' %}">Log Out</a>
    </section>
    {% else %}
    <section class="user-options flex">
      <a class="nav-link under-link sub-head-font" href="{% url 'login' %}">Log In</a>
      <p class="divider-line">|</p>
      <a class="nav-link sub-head-font cta-btn-link" href="{% url 'signup' %}">Sign Up</a>
    </section>
    {% endif %}
  </div>
</nav>
