<nav class="nav-bar">
  <div class="nav-content-container flex">
    <section class="nav-logo">
      <h2 class="logo header-font">lookC</h2>
    </section>
    {% if user.is_authenticated %}
    <section class="search-bar">
      <input type="text" placeholder="Search for City" />
    </section>
    <section class="user-options flex">
      <h3 class="logged-in-name">{{user.username}}</h3>
      <a class="nav-link sub-head-font" href="{% url 'logout' %}">Log Out</a>
    </section>
    {% else %}
    <section class="user-options flex">
      <a class="nav-link sub-head-font" href="{% url 'login' %}">Log In</a>
      <p class="divider-line">|</p>
      <a class="nav-link sub-head-font cta-btn-link" href="{% url 'signup' %}">Sign Up</a>
    </section>
    {% endif %}
  </div>
</nav>
