<nav class="nav-bar">
  <div class="nav-content-container flex">
    <section class="nav-logo">
      <h2 class="logo header-font">
        {% if user.is_authenticated %}
        <a class="no-dec" href="/city">lookC</a>
        {%else%}
        <a class="no-dec" href="/">lookC</a>
        {% endif %}
      </h2>
    </section>
    {% if user.is_authenticated %}
    <div class="search-content">
      <form action="/city" method="get" autocomplete="off">
        <section class="search-bar flex">
          <input
            class="search-bar-input content-font text-bold"
            type="text"
            name="city"
            placeholder="Search for City"
            aria-label="search"
          />
          <button class="search-btn search-bar-submit" aria-label="submit search" type="submit" value="Search">
            <i class="fas fa-search" style="color: black"></i>
          </button>
        </section>
      </form>
    </div>

    <div class="clear-search">
      {% if '?' in request.get_full_path %}
      <a class="no-dec" href="/city">
        <h4 class="sub-head-font clear-icon under-link"><i class="fas fa-times-circle"></i> Clear Search</i></h4>
      </a>
        {% endif %}
      </div>
    <section class="all-cities-link">
      <a class="no-dec sub-head-font under-link" href="/city">Browse Cities</a>
    </section>
    <section class="user-options flex">
      <h3 class="logged-in-name sub-head-font">
        <a class="no-dec under-link" href="/user/profile/"> {{user.username}} </a>
      </h3>
      <a class="nav-link under-link sub-head-font" href="{% url 'logout' %}">Log Out</a>
    </section>
    {% else %}
    <section class="user-options flex">
      <a class="nav-link under-link sub-head-font" href="{% url 'login' %}">Log In</a>
      <p class="divider-line">|</p>
      <a class="nav-link sub-head-font cta-btn-link" href="{% url 'signup' %}">Sign Up</a>
    </section>
    {% endif %}
  </div>
</nav>
