{% extends 'layout/base.html' %}
<!--  -->
{% block content %}
<h1>This is the profile</h1>
<p>{{ user.username }}</p>



<a href="{% url 'profile_update' user.profile.pk %}"><button style='background-color: green;padding:10px;'>edit</button></a>
<a href="{% url 'profile_delete' user.profile.pk %}"><button style='background-color: red;padding:10px;'>Delete</button></a>
<br>
<br>
<a href="{% url 'blog_create' user.profile.pk %}">Create Blog</a>


{% for blog in blogs %}
{% if blog.profile == user.profile %}
<p><a href="{% url 'blog' blog.pk %}"> {{ blog.title }}</a></p>



{% endif %}
{% endfor %}
{% endblock %}
