{% extends 'layout/base.html' %}
<!--  -->
{% block content %}

<div class="content-container">
  <div class="profile-info flex">
    <h1 class="header-font">{{ user.username }}</h1>
    <img class="profile-thumb" src="{{user.profile.img}}" alt="" />

    <div class="profile-options flex">
      <a href="{% url 'profile_update' user.profile.pk %}"
        ><button class="post-edit-btn"><i class="fas fa-user-edit"></i></button
      ></a>
      <a class="delete-btn" href="{% url 'profile_delete' user.profile.pk %}"
        ><button class="delete-btn"><i class="fas fa-trash-alt"></i></button
      ></a>
    </div>
  </div>

  <div class="profile-blog-content">
    <div class="profile-create-blog flex">
      <h4 class="create-blog-header sub-head-font">Create a blog</h4>
      <a class="circle-btn-link" href="{% url 'blog_create' user.profile.pk %}">
        <span>+</span>
      </a>
    </div>
    <div class="profile-blogs three-quarter-width">
      {% for blog in blog_list %}
      <!--  -->
      {% if blog.profile == user.profile %}
      <div class="blog-card-container">
        <div class="blog-card-img">
          <img class="blog-card-img-content" src="{{blog.img}}" alt="" />
        </div>

        <div class="blog-card-details flex">
          <div class="title-info">
            <h3 class="blog-card-title">
              <a class="test-class header-font no-dec font-bold" href="{% url 'blog' blog.pk %}"> {{ blog.title }} </a>
            </h3>
          </div>

          <div class="author-info">
            <h5 class="blog-card-author sub-head-font">
              <i class="fas fa-pencil-alt" style="color: black"></i> {{blog.profile.name}}
            </h5>
          </div>

          <div class="blog-card-content">
            <p class="content-font">{{blog.post | truncatechars:150}}</p>
          </div>

          <div class="blog-card-btn-container">
            <a class="no-dec sub-head-font blog-card-btn blog-card-btn-icon" href="{% url 'blog' blog.pk %}"
              ><i class="fas fa-arrow-right" style="color: black"></i> Read Blog</a
            >
          </div>
        </div>
      </div>
      {% endif %}
      <!--  -->
      {% endfor %}

      <div class="pagination-container flex">
        <h3 class="content-font">Page {{ blog_list.number }} of {{ blog_list.paginator.num_pages }}</h3>

        <div class="arrow-content flex">
          <div class="back-page flex">
            {% if blog_list.has_previous %}
            <a class="content-font under-link" href="?page=1">&laquo First</a>
            <a class="l-margin no-dec" href="?page={{ blog_list.previous_page_number }}">
              <h4 class="content-font under-link"><i class="fas fa-chevron-left"> </i> Prev Page</h4>
            </a>
            {% endif %}
          </div>

          <div class="forward-page flex">
            {% if blog_list.has_next %}
            <a class="r-margin no-dec" href="?page={{ blog_list.next_page_number }}">
              <h4 class="content-font under-link">Next Page <i class="fas fa-chevron-right"></i></h4>
            </a>

            <a class="content-font under-link" href="?page={{ blog_list.paginator.num_pages }}">Last &raquo</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
