{% extends 'layout/base.html' %} {% block content %}

<div class="content-container">
  <div class="form-center flex">
    <div class="form-content flex r-border l-border">
      <h1 class="form-title header-font">Are you sure you want to Delete {{user.profile.name}}?</h1>

      <form method="post">
        {% csrf_token %}
        <div class="cancel-options">
          <!-- confirm artist delete -->
          <input class="error-btn-link" type="submit" value="Confirm" />
          <!-- Redirect back to detail on cancel -->
          <a class="under-link cancel-delete" href="{% url 'profile_update' user.profile.pk %}">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
