@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Martel+Sans&family=Yantramanav&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ecebf3;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #0c1b33;
  height: 90vh;
  width: 100%;
}

.main-content {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.content-container {
  padding: 0 20rem;
  padding-bottom: 3rem;
  margin: 0 auto;
  margin-top: 2.5rem;
}
@media (max-width: 87.5rem) {
  .content-container {
    padding: 0 10rem;
  }
}
@media (max-width: 23.438rem) {
  .content-container {
    padding: 0 1rem;
  }
}

.hidden {
  display: none;
}

.no-dec {
  text-decoration: none;
}

.header-font {
  font-family: "Yantramanav", sans-serif;
}

.sub-head-font {
  font-family: "Martel Sans", sans-serif;
}

.content-font {
  font-family: "Libre Franklin", sans-serif;
}

.text-bold {
  font-weight: bold;
}

.md-font {
  font-size: 2rem;
}

input,
textarea,
select,
option {
  color: black;
}

.center-text {
  text-align: center;
}

.cta-btn-link {
  padding: 0.25rem 0.875rem;
  border-radius: 1rem;
  background: linear-gradient(to right bottom, #fba31e, #ff9b3a, #ff954f, #ff9162, #ff8e72);
  color: #0c1b33;
  font-weight: bold;
  text-decoration: none;
}

.under-link {
  background-image: linear-gradient(to right bottom, #fba31e, #ff9b3a, #ff954f, #ff9162, #ff8e72);
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  text-decoration: none;
  transition: background-size 300ms ease;
}
.under-link:hover {
  background-size: 100% 3px;
}

.create-blog {
  flex-direction: column;
  align-items: center;
}

.circle-btn-link {
  position: relative;
  display: block;
  border: 1px solid #0c1b33;
  border-radius: 50%;
  background: linear-gradient(to right bottom, #fba31e, #ff9b3a, #ff954f, #ff9162, #ff8e72);
  height: 3.25rem;
  width: 3.25rem;
}
.circle-btn-link span {
  color: #0c1b33;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.accent-border {
  border: 4px solid #ff964d;
  border-radius: 1rem;
}

.page-header {
  position: relative;
  display: inline-block;
  font-size: 4.25rem;
}
.page-header::before, .page-header::after {
  content: "";
  position: absolute;
  height: 100%;
}
.page-header::before {
  display: block;
  background: #0c1b33;
  left: -1.25rem;
  right: -1.25rem;
  z-index: -2;
}
.page-header::after {
  background: linear-gradient(to right bottom, #fba31e, #ff9b3a, #ff954f, #ff9162, #ff8e72);
  width: 80vw;
  height: 22.5%;
  left: 50%;
  bottom: 40%;
  transform: translateX(-50%);
  z-index: -3;
}

.city-card {
  position: relative;
  min-width: 20rem;
  min-height: 20rem;
  max-width: 20rem;
  max-height: 20rem;
  margin: 0.75rem;
  overflow: hidden;
  background: #232528;
}
.city-card::before, .city-card::after {
  content: "";
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
}
.city-card::before {
  border-top-width: 2px;
  border-top-style: solid;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-image: linear-gradient(to right bottom, #fba31e, #ff9b3a, #ff954f, #ff9162, #ff8e72);
  border-image-slice: 1;
  transform: scale(0, 1);
  transition: transform ease-out 250ms;
  pointer-events: none;
}
.city-card::after {
  border-left-width: 2px;
  border-left-style: solid;
  border-right-width: 2px;
  border-right-style: solid;
  border-image: linear-gradient(to right bottom, #fba31e, #ff9b3a, #ff954f, #ff9162, #ff8e72);
  border-image-slice: 1;
  transform: scale(1, 0);
  transition: transform ease-out 250ms;
  pointer-events: none;
}
.city-card:hover::before {
  transform: scale(1, 1);
}
.city-card:hover:after {
  transform: scale(1, 1);
}

.city-img {
  width: 100%;
  height: 100%;
  z-index: -2;
  display: block;
  object-fit: cover;
  opacity: 1;
  transition: opacity ease-out 250ms;
}

.city-card:hover .city-img {
  opacity: 0.4;
}

.city-card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.city-card-title {
  font-size: 3.25rem;
  font-weight: bold;
  text-shadow: 2px 3px 2px #242323;
  width: fit-content;
  text-align: center;
}

.city-card-country {
  text-align: center;
  font-size: 1.25rem;
  text-shadow: 2px 3px 2px #242323;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.nav-bar {
  height: 4.5rem;
  position: absolute;
  top: 0;
  z-index: 30;
  width: 100%;
  margin: 0 auto;
  position: sticky;
}

.nav-content-container {
  width: 100%;
  padding: 3rem 10rem;
  height: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 87.5rem) {
  .nav-content-container {
    padding: 0 7rem;
  }
}

.search-content {
  position: relative;
  width: 20vw;
  margin-right: 35%;
}
@media (max-width: 87.5rem) {
  .search-content {
    margin-right: 15%;
    margin-left: 0.5rem;
  }
}

.search-bar {
  position: relative;
  justify-self: center;
  margin-right: 80%;
  border: 2px solid orange;
  border-radius: 30rem;
  height: 2.25rem;
  width: 2.25rem;
  background-color: white;
  overflow: hidden;
  transition: width 300ms cubic-bezier(0.18, 0.7, 0.26, 1.15);
}
.search-bar .search-bar-input {
  flex-grow: 1;
  font-size: 1.25rem;
  border: none;
  background: none;
  padding: 0 0.5rem;
  padding-left: 1rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  line-height: 2.25rem;
  cursor: pointer;
  opacity: 0;
}
.search-bar .search-bar-input:focus {
  outline: 0;
}
.search-bar .search-bar-submit {
  font-size: 1.25rem;
  cursor: pointer;
  border: none;
  background: none;
  border-radius: 50%;
  background: linear-gradient(to right bottom, #fba31e, #ff9b3a, #ff954f, #ff9162, #ff8e72);
  margin-left: auto;
  width: 2rem;
  height: 2rem;
}
.search-bar .search-bar-submit:hover, .search-bar .search-bar-submit:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}
.search-bar:focus-within {
  width: 100%;
}
.search-bar:focus-within .search-bar-input {
  opacity: 100;
  cursor: initial;
}

.all-cities-link {
  margin-right: 2rem;
}

.user-options {
  width: 15%;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 87.5rem) {
  .user-options {
    width: 28%;
  }
}
@media (max-width: 48rem) {
  .user-options {
    width: 45%;
  }
}

.divider-line {
  font-size: 1.5rem;
}

.nav-link {
  text-decoration: none;
  font-size: 1rem;
}

.welcome-container {
  height: 100vh;
}

.welcome-tagline {
  position: absolute;
  font-size: 7rem;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -90%);
  z-index: -3;
}
@media (max-width: 48rem) {
  .welcome-tagline {
    padding-top: 1.75rem;
  }
}

.landing-img {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -4;
}

.bg-rocks {
  height: 110%;
}

.mid-rocks {
  z-index: -2;
}

.fg-rocks {
  z-index: -1;
}

.welcome-bottom-content {
  width: 100%;
  z-index: 2;
  min-height: 125vh;
  position: absolute;
  background-color: #0c1b33;
}

.top-pad {
  margin-top: 5rem;
}

.landing-title {
  justify-content: center;
  margin-top: 2rem;
}
.landing-title h1 {
  font-size: 2.5rem;
}

.testimonial-container {
  margin-top: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}
@media (max-width: 23.438rem) {
  .testimonial-container {
    grid-template-columns: 1fr;
    margin-top: 0.75rem;
  }
}

.test-font {
  font-size: 1.25rem;
  padding: 1rem;
}

.options-container {
  margin-top: 3.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 87.5rem) {
  .options-container {
    margin-top: 1.5rem;
  }
}

.landing-options {
  width: 40%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.tagline {
  font-size: 3.25rem;
}

.landing-options {
  margin-top: 1.5rem;
}
@media (max-width: 87.5rem) {
  .landing-options {
    margin-top: 0.75rem;
  }
}

.city-list-content {
  margin-top: 2.5rem;
}

.intro-header {
  justify-content: center;
  margin-top: 4.25rem;
}

.create-options {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  justify-content: space-between;
}

.cities-container {
  width: 85%;
  margin: 2.5rem auto;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.create-city {
  flex-direction: column;
  align-items: center;
}

.create-link {
  font-weight: bold;
  font-size: 2rem;
}

.banner-container {
  width: 100vw;
  position: relative;
  margin-top: get-spacing(12);
}

.city-show-banner {
  position: absolute;
  width: 100%;
  height: 65vh;
  object-fit: cover;
  object-position: 50% 50%;
}

/*# sourceMappingURL=main.css.map */
