@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Martel+Sans&family=Yantramanav&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ecebf3;
}

body {
  position: relative;
  background-color: #0c1b33;
  height: 90vh;
  width: 100%;
}

.main-content {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.content-container {
  padding: 0 20rem;
  margin-top: 2.5rem;
  padding-bottom: 3rem;
  margin: 0 auto;
}
@media (max-width: 87.5rem) {
  .content-container {
    padding: 0 10rem;
  }
}
@media (max-width: 23.438rem) {
  .content-container {
    padding: 0 1rem;
  }
}

.hidden {
  display: none;
}

.no-dec {
  text-decoration: none;
}

.header-font {
  font-family: "Yantramanav", sans-serif;
}

.sub-head-font {
  font-family: "Martel Sans", sans-serif;
}

.content-font {
  font-family: "Libre Franklin", sans-serif;
}

.text-bold {
  font-weight: bold;
}

.md-font {
  font-size: 2rem;
}

.vr {
  display: inline;
  height: 100%;
  width: 0.75rem;
  border: 1px inset;
  margin: 5px;
}

.cta-btn-link {
  padding: 0.25rem 0.875rem;
  border-radius: 1rem;
  background: linear-gradient(to right bottom, #fba31e, #ff9b3a, #ff954f, #ff9162, #ff8e72);
  color: #0c1b33;
  font-weight: bold;
  text-decoration: none;
}

.under-link {
  background-image: linear-gradient(to right bottom, #fba31e, #ff9b3a, #ff954f, #ff9162, #ff8e72);
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  text-decoration: none;
  transition: background-size 300ms ease;
}
.under-link:hover {
  background-size: 100% 3px;
}

.accent-border {
  border-width: 4px;
  border-style: solid;
  border-radius: 1rem;
  border-image: linear-gradient(to right bottom, #fba31e, #ff9b3a, #ff954f, #ff9162, #ff8e72);
  border-image-slice: 1;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.nav-bar {
  height: 4.5rem;
  position: absolute;
  top: 0;
  z-index: 30;
  width: 100%;
  margin: 0 auto;
  position: sticky;
}

.nav-content-container {
  width: 100%;
  padding: 3rem 10rem;
  height: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 87.5rem) {
  .nav-content-container {
    padding: 0 7rem;
  }
}

.user-options {
  width: 15%;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 87.5rem) {
  .user-options {
    width: 28%;
  }
}
@media (max-width: 48rem) {
  .user-options {
    width: 45%;
  }
}

.divider-line {
  font-size: 1.5rem;
}

.nav-link {
  text-decoration: none;
  font-size: 1rem;
}

.welcome-container {
  height: 100vh;
}

.welcome-tagline {
  position: absolute;
  font-size: 7rem;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -90%);
  z-index: -3;
}
@media (max-width: 48rem) {
  .welcome-tagline {
    padding-top: 1.75rem;
  }
}

.landing-img {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -4;
}

.bg-rocks {
  height: 110%;
}

.mid-rocks {
  z-index: -2;
}

.fg-rocks {
  z-index: -1;
}

.welcome-bottom-content {
  width: 100%;
  z-index: 2;
  min-height: 125vh;
  position: absolute;
  background-color: #0c1b33;
}

.top-pad {
  margin-top: 5rem;
}

.landing-title {
  justify-content: center;
  margin-top: 2rem;
}
.landing-title h1 {
  font-size: 2.5rem;
}

.testimonial-container {
  margin-top: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}
@media (max-width: 23.438rem) {
  .testimonial-container {
    grid-template-columns: 1fr;
    margin-top: 0.75rem;
  }
}

.test-font {
  font-size: 1.25rem;
  padding: 1rem;
}

.options-container {
  margin-top: 3.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-options {
  width: 30%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.tagline {
  font-size: 3.25rem;
}

.landing-options {
  margin-top: 1.5rem;
}

/*# sourceMappingURL=main.css.map */
