{%extends 'layout/base.html' %}
<!--  -->
{%block content%}

<div class="content-container">
  <div class="form-center flex">
    <div class="form-content flex r-border l-border">
      <h1 class="title"></h1>
      <h1 class="form-title header-font">Sign Up</h1>
      <form autocomplete="off" class="django-form" method="post" action="{% url 'signup' %}">
        {%csrf_token%} {{form.as_p}}
        <input type="submit" class="btn" value="Sign Up" />
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>
  </div>
</div>

{% endblock %}
