@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

.blog-card-container {
  width: 100%;
  height: 27.5rem;
  margin: get-spacing(6) 0;
  padding: get-spacing(6);
  background-color: $light-bg;
  position: relative;
  z-index: 0;

  &:hover img {
    opacity: 0.5;
    transform: scale(1.1);
  }

  &:hover .test-class {
    color: orange;
  }
}

.blog-card-img {
  margin: get-spacing(1);
  height: 100%;
  width: 100%;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 60%);
  overflow: hidden;
  z-index: -2;
  background: $dark-bg;
}

.blog-card-img-content {
  position: absolute;
  width: 100%;
  object-fit: cover;
  opacity: 1;
  transition: all ease-out 250ms;
}

.blog-card-details {
  background: $light-bg;
  margin: get-size(6);
  position: absolute;
  bottom: 0;
  z-index: -1;
  padding: get-size(6) get-size(3);
  flex-direction: column;
  justify-content: space-between;

  width: 92.5%;
  height: 40%;
}

.blog-card-title {
  width: 100%;
  height: 100%;
  font-size: get-font-size(8);

  a {
    color: $bg-color;
  }
}

.blog-card-author {
  font-size: get-font-size(5);
  color: $bg-color;
}

.blog-card-content {
  p {
    color: $bg-color;
  }
}

.blog-card-btn-container {
  padding-top: 0.5rem;
}

.blog-card-btn {
  background: $light-bg;
  color: $bg-color;
  font-weight: bold;
  outline: none;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 0;
  height: 3.125rem;
  line-height: 3.125rem;
  display: inline-block;
  padding: 0;
  border: none;
  &:focus {
    box-shadow: none;
  }
  &:hover {
    background: $accent-gradient;
    color: $light-bg;
  }
}

.blog-card-btn-icon {
  padding-right: 1.5rem;
  i {
    padding: 0px 30px 0px 15px;
    margin-right: 10px;
    height: 3.125rem;
    line-height: 3.125rem;
    vertical-align: bottom;
    color: white;
    background: $accent-gradient;
    clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
  }
}
