@use '../abstracts/functions' as *;

.cta-btn-link {
  padding: get-spacing(2) get-spacing(5);
  border-radius: get-size(6);
  background: $accent-gradient;
  //   text-shadow: 1px 1px 0px #242323;
  color: $bg-color;
  font-weight: bold;
  text-decoration: none;
}

.under-link {
  background-image: $accent-gradient;
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  text-decoration: none;
  transition: background-size 300ms ease;

  &:hover {
    background-size: 100% 3px;
  }
}

.create-blog {
  flex-direction: column;
  align-items: center;
}

.circle-btn-link {
  position: relative;
  display: block;
  border: 1px solid $bg-color;
  border-radius: 50%;
  background: $accent-gradient;
  height: get-size(15);
  width: get-size(15);

  span {
    color: $bg-color;
    font-size: get-font-size(10);
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.post-edit-btn {
  background: none;
  outline: none;
  border: none;
  margin: 0 0.75rem;

  i {
    color: $light-bg;
    cursor: pointer;
    font-size: get-font-size(10);
  }
}

.delete-btn {
  background: none;
  outline: none;
  border: none;
  margin: 0 0.75rem;

  i {
    color: red;
    cursor: pointer;
    font-size: get-font-size(10);
  }
}

.error-btn-link {
  outline: none;
  border: none;
  padding: 0.75rem;
  background: rgb(175, 44, 44);

  font-size: get-font-size(8);
  font-family: $content-font;
  color: $light-bg;
  margin-left: get-font-size(7);

  cursor: pointer;
}

.cancel-options {
  margin-top: 1rem;
}
