@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

.form-center {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.form-title {
  font-size: get-font-size(12);
}

.form-content {
  height: fit-content;
  width: 35%;
  flex-direction: column;
  align-items: center;
}

.django-form {
  margin: 1.5rem auto;
  padding: 0 3rem;

  p {
    margin: 1.5rem auto;
    display: flex;
    flex-direction: column;

    label {
      font-size: get-font-size(7);
      font-family: $sub-head-font;
      color: $light-bg;
    }
  }

  p span {
    color: $light-bg;
    font-family: $content-font;
    width: 75%;
    margin: 0.75rem auto;
  }

  ul {
    color: $light-bg;
    font-family: $content-font;
    width: 75%;
    margin: -1.75rem auto;
  }

  input {
    height: 2.75rem;
    line-height: 2rem;
    font-family: $content-font;
    font-weight: bold;
    font-size: get-font-size(7);
    padding: 0 get-spacing(3);

    &:focus {
      outline: orange;
    }
  }

  input.btn {
    margin: 0.5rem 30%;
    padding-bottom: 0.5rem;

    background: none;
    border: none;

    font-size: get-font-size(9);
    font-family: $sub-head-font;
    color: $light-bg;

    background-image: $accent-gradient;
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    text-decoration: none;
    transition: background-size 300ms ease;

    cursor: pointer;

    &:hover {
      background-size: 100% 3px;
    }
  }
}

.blog-create-form {
  :nth-child(5) {
    display: none;
  }

  :nth-child(7) {
    display: none;
  }
}

.cancel-delete {
  font-size: get-font-size(8);
  font-family: $content-font;
  color: $light-bg;
  margin-left: get-font-size(7);
}
