@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

.blog-content {
  margin-top: get-spacing(15);
}

.post-content {
  justify-content: center;
}

.user-post-options {
  justify-content: flex-end;
}

.comment-container {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comment-content-input {
  border: 1px solid white;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;

  label {
    display: none;
  }

  textarea {
    width: 25rem;
  }

  p {
    width: 100%;
  }

  p input {
    border: 1px solid yellow;
    margin: 0 auto;
  }
}
