@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

.city-list-content {
  margin-top: get-size(12);
}

.intro {
  justify-content: center;
}

.cities-container {
  width: 85%;
  margin: get-size(12) auto;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: flex-start;
}
