.banner-container {
  width: 100vw;
  position: relative;
  margin-top: get-spacing(12);
}

.city-show-banner {
  position: absolute;
  width: 100%;
  height: 65vh;
  object-fit: cover;
  object-position: 50% 50%;
}
