{% extends 'layout/base.html' %}
<!--  -->
{% block content %}

<div class="landing-container">
  <section class="welcome-img-container">
    <img class="landing-img" src="../../static/assets/imgs/landing2.png" alt="" />
  </section>

  <section class="landing-title flex header-font">
    <h1>Wayfarer is...</h1>
  </section>

  <section class="grid testimonial-container content-font">
    <div class="testimonial">
      Integer sollicitudin tempor consectetur. Curabitur varius commodo risus at varius. In dignissim facilisis
      venenatis. Cras ut enim ut nulla suscipit feugiat. Proin ut tellus vel justo ultrices finibus. Suspendisse orci
      ante, facilisis sit amet nulla vitae, feugiat luctus mauris. Aliquam fringilla mauris eros, ac pharetra urna
      ullamcorper nec. Quisque lobortis placerat orci elementum porta. Etiam ut tempor tellus, sit amet tincidunt mi.
      Duis orci tortor, congue vel turpis quis, fringilla eleifend odio. Duis et dui nec justo tincidunt convallis. Cras
      pellentesque elit quis eros ultrices egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada
      fames ac turpis egestas.
    </div>
    <div class="testimonial">
      Proin nec placerat eros. Integer in lorem magna. Proin lorem magna, facilisis sit amet ultricies quis, consectetur
      vel sem. Cras imperdiet non nisl at fringilla. Donec semper mollis nisi id sodales. Duis in erat neque. In hac
      habitasse platea dictumst. Praesent sollicitudin elementum mi, sit amet placerat augue pretium sit amet. Nunc
      vulputate consectetur leo, eget accumsan quam vulputate in. Fusce sodales pellentesque mauris, a posuere ex
      aliquet in.
    </div>
    <div class="testimonial">
      Nullam quis congue leo. Aenean ut nisi mauris. Vestibulum aliquet felis facilisis ex tempor, ac feugiat nulla
      vehicula. Suspendisse potenti. Cras hendrerit sit amet ex sit amet egestas. Ut dictum porta arcu, vitae mattis est
      volutpat at. Pellentesque aliquam at dui eget dapibus. In et nibh massa. Phasellus tincidunt felis eu urna
      lobortis condimentum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam maximus tristique
      placerat. Phasellus finibus ante non consectetur mollis.
    </div>
  </section>
</div>

{% endblock %}
