{% extends 'layout/base.html' %}
<!--  -->
{% block content %}

<div class="intro-container">
  <div class="banner-container">
    <img class="city-show-banner" src="{{ blog.img }}" />
    <div class="banner-info flex">
      <h1 class="header-font">{{ blog.title }}</h1>
      <h4 class="sub-head-font">{{ blog.profile.name }}</h4>
    </div>
  </div>
</div>

<div class="content-container">
    <p class="content-font">{{ blog.post }}</p>

    <div class="user-post-options flex">
        <a href="{% url 'blog_update' blog.pk %}"><button class="post-edit-btn"><i class="fas fa-edit"></i></button></a>
        <a href="{% url 'blog_delete' blog.pk %}"><button class="delete-btn"><i class="fas fa-trash-alt"></i></button></a>
    </div>
  
  
    <h2>Add a new comment</h2>
    <form action="{% url 'blog' blog.pk %}" method="post">
      {% csrf_token %} {{ form.as_p }}
      <p><input type="submit" value="Add comment" /></p>
    </form>
    <br />
    <br />
    <br />
  
    {% if not blog.blogs.all %} No Comments Yet... {% else %} {% for comment in blog.blogs.all reversed %}
    {{comment.profile.name }} {{comment.created_at | timesince }}
    <p>ago</p>
    <br />
    {{comment.content}}
    <br />
    <br />
    {% endfor %} {% endif %} 
</div>
{% endblock %}
</div>
