{% extends 'layout/base.html' %} 
{% block content %}
<h1>New Blog</h1>

<form style='display:flex; flex-direction: column;' method="post">
<!-- Security Feature  -->
  {% csrf_token %} 
 <!-- Generate inputs  -->
    <label for="{{ form.name.id_for_label }}">Title: </label>
    {{form.title}}
    <label for="{{ form.img.id_for_label }}">Image URL: </label>
    {{form.img}}
    <label for="{{ form.city.id_for_label }}">City: </label>
    {{form.city}}
    <div class='hidden'>
      <label for="{{ form.reccomendation.id_for_label }}">Highlights: </label>
      {{form.reccomendation}}
    </div>
    <label for="{{ form.post.id_for_label }}">Post: </label>
    {{form.post}}
    <div class='hidden'>
        <label for="{{ form.profile.id_for_label }}">Profile: </label>
        {{form.profile}}
    </div>
  <!-- {{form.as_p}}  -->
<!--  Submit form  -->
  <input type="submit" value="Submit" />
</form>

{% endblock %}